<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CustomYTPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CustomYTPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <CustomYTPlayer.Properties.Settings>
   <setting name="EnableLogVerbose" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="YtDlpCheckTime" serializeAs="String">
    <value />
   </setting>
   <setting name="YouTubeVideoQuality" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="Volume" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="EnableNoVideo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableAutoLyric" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableDiscordRichPresence" serializeAs="String">
    <value>True</value>
   </setting>
  </CustomYTPlayer.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <CustomYTPlayer.Properties.Settings>
   <setting name="DiscordApplicationID" serializeAs="String">
    <value>1039536928221036576</value>
   </setting>
   <setting name="UnsupportedDomains" serializeAs="String">
    <value>onedrive.live.com;gothuedutw-my.sharepoint.com;twitcasting.tv;drive.google.com</value>
   </setting>
   <setting name="MaxConnectionFailedCount" serializeAs="String">
    <value>10</value>
   </setting>
  </CustomYTPlayer.Properties.Settings>
 </applicationSettings>
</configuration>